/* 版心 */
.container {
    width: 1464px;
    margin: 0 auto;
    position: relative;
    /* 辅助 */
    /* background-color: rgba(255, 255, 255, 0.5); */
}

* {
    box-sizing: border-box;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* 定义动画 */
@

