body {
    background-color: #f5f5f5;
}

/* 顶部导航 */
.top_nav {
    height: 35px;
    background-color: #f5f5f5;
    padding: 9px 0 13px 0;
}

.top_nav-l {
    float: left;
}

.top_nav-l>i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background: url(../img/sprite_1.png) -192px -180px;
    vertical-align: middle;
    margin-right: 10px;
}

.top_nav-y {
    float: right;
}

.top_nav-y ul li {
    float: left;
    position: relative;
}

.top_nav-y ul li:nth-child(2):after,
.top_nav-y ul li:nth-child(3):after,
.top_nav-y ul li:nth-child(4):after,
.top_nav-y ul li:nth-child(5):after,
.top_nav-y ul li:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0;
    left: 90px;
    width: 1px;
    height: 12px;
    background-color: #dcdcdc;
}

.top_nav-y ul li:nth-child(2):after {
    left: 54px;
}

.top_nav-y ul li:nth-child(3):after {
    left: 100px;
}

.top_nav-y ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #999999;
}

.top_nav-y ul li:last-child a {
    color: #ff5a00;
}

.top_nav-y ul li:last-child span:nth-child(3) {
    border-bottom: 1px solid #ff5a00;
    padding-bottom: 3px;
}

.top_nav-y ul li:nth-child(3) i,
.top_nav-y ul li:nth-child(4) i,
.top_nav-y ul li:nth-child(5) i,
.top_nav-y ul li:nth-child(6) i,
.top_nav-y ul li:nth-child(7) i:last-child {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../img/sprite_1.png) -191px -234px;
    margin-left: 4px;
}

/* 搜素区域 */
.search {
    height: 80px;
    padding: 16px 0;
    border-bottom: 1px solid #e3e3e3;
}

.search-l {
    float: left;
}

.search-l>i {
    display: inline-block;
    width: 126px;
    height: 46px;
    background: url(../img/sprite_1.png) 0 -262px;
}

.search-l>img {
    width: 136px;
    height: 46px;
    margin-left: 18px;
}

.search-cen {
    float: left;
    height: 46px;
    line-height: 46px;
    margin-left: 88px;
    margin-top: 2px;
}

.search-cen li {
    float: left;
}

.search-cen li a {
    position: relative;
    display: inline-block;
    margin-right: 44px;
    font-size: 16px;
}

.search-cen li:first-child a {
    margin-right: 60px;
    color: #0cb46a;
    border-bottom: 3px solid #0cb46a;
}

.search-cen li:nth-child(5) a {
    margin-right: 54px;
}

.search-cen li:nth-child(2) i,
.search-cen li:nth-child(3) i,
.search-cen li:nth-child(4) i,
.search-cen li:nth-child(6) i {
    position: absolute;
    top: 22px;
    right: -22px;
    width: 9px;
    height: 5px;
    background: url(../img/sprite_1.png) -152px -181px;
}

.search-cen li:nth-child(7) i {
    position: absolute;
    top: 14px;
    right: -28px;
    width: 13px;
    height: 18px;
    background: url(../img/sprite_1.png) -177px -181px;
}

.search-y {
    float: right;
    position: relative;
    margin-right: 15px;
}

.search-y>input {
    margin-top: 8px;
    width: 256px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
}

.search-y>i {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 22px;
    height: 22px;
    background: url(../img/sprite_1.png) -206px -220px;
}

.top_nav-y ul li:nth-child(7) i:first-child {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/sprite_1.png) -188px -246px;
    vertical-align: middle;
    margin-right: 6px;
}

/* 主体 */
.synopsis-top {
    padding: 13px 0;
    color: #333333;
}

.synopsis-top s {
    margin: 0 8px;
}

.synopsis-top :nth-child(-n+4) {
    color: #999999;
}

.synopsis-btm {
    padding: 40px;
    background-color: #fff;

}

.synopsis-btm-l {
    float: left;
    width: 480px;
    position: relative;
}

.synopsis-btm-l li {
    float: left;
}

.synopsis-btm-l li>img {
    width: 84px;
    height: 56px;
}

.synopsis-btm-l li:first-child img {
    width: 480px;
    height: 260px;
}

.synopsis-btm-l li:nth-last-child(-n+5) {
    margin-right: 14px;
}

.synopsis-btm-l li:first-child {
    margin-bottom: 12px;
}

.synopsis-btm-l li:last-child {
    margin-right: 0;
}

.synopsis-btm-l>p {
    position: absolute;
    bottom: 92px;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 32px;
    width: 82px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #ff5a00;
    border: 1px solid #fc772e;
    border-radius: 15px;
    opacity: 0.7;
    background-color: #e6e6e6;
}

.synopsis-btm-l>p::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: 28px;
    height: 28px;
    border: 1px solid #fc772e;
    border-radius: 50%;
}

.synopsis-btm-l>p::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 0;
    height: 0;
    border: 6px solid #ff5a00;
    border-color: transparent transparent transparent #ff5a00;
}

.synopsis-btm-y {
    float: left;
    margin-left: 35px;
}

.synopsis-btm-y div:nth-child(1) {
    padding-top: 5px;
}

.synopsis-btm-y div:nth-child(1) h3 {
    margin-right: 74px;
    float: left;
    font-size: 28px;
    color: #333;
}

.synopsis-btm-y div:nth-child(1)>span {
    float: left;
    margin-top: 10px;
}

.synopsis-btm-y div:nth-child(1)>span:nth-child(2) {
    font-size: 14px;
    color: #666;
}

.synopsis-btm-y div:nth-child(1)>span:nth-child(2) s {
    color: #151515;
}

.synopsis-btm-y div:nth-child(1)>span:nth-child(3) {
    margin-left: 20px;
    font-size: 14px;
    color: #666;
}

.synopsis-btm-y div:nth-child(1)>span:nth-child(3) img {
    width: 70px;
    height: 12px;
}

.synopsis-btm-y div:nth-child(1)>div:last-child {
    float: left;
    margin-left: 50px;
    padding-top: 8px;
}

.synopsis-btm-y div:nth-child(1)>div:last-child span {
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin: -8px 16px 0 4px;
}

.synopsis-btm-y div:nth-child(1)>div:last-child img {
    width: 16px;
    height: 16px;
}

.synopsis-btm-y div:nth-child(1)>div:last-child img:nth-child(3) {
    margin-right: 16px;
}

.synopsis-btm-y div:nth-child(2) {
    margin: 16px 0 42px;
}

.synopsis-btm-y div:nth-child(2) span {
    padding: 5px 10px;
    border: 1px solid#cce4ff;
    font-size: 12px;
    color: #57a5ff;
    margin-right: 10px;
}
.synopsis-btm-y div:nth-child(2) span:first-child {
    color: #ff8a00;
    border-color: #ffdcb2;
}
.synopsis-btm-y ul:nth-child(3) li{
    float: left;
    margin-right: 60px;
    text-align: center;
}
.synopsis-btm-y ul:nth-child(3) li h4 {
    font-size: 16px;
    color: #333333;
    margin-bottom: 12px;
}
.synopsis-btm-y ul:nth-child(3) li span {
    font-size: 14px;
    color: #333333;
}
.synopsis-btm-y > div:nth-child(4) {
    margin: 38px 0 18px;
}
.synopsis-btm-y div:nth-child(4) img {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.synopsis-btm-y div:nth-child(4) > span {
    font-size: 14px;
    color: #333333;
    font-weight: 700;
}
.synopsis-btm-y p:nth-child(5) {
    font-size: 14px;
    color: #666666;
}
.synopsis-btm-y div:nth-child(6){
 margin-top: 35px;
}
.synopsis-btm-y div:nth-child(6) > span:first-child {
   display: inline-block;
   margin-right: 10px;
   width: 180px;
   height: 48px;
   line-height: 48px;
   text-align: center;
   background-color: #ff5a00;
   font-size: 20px;
   font-weight: 700;
   color: #fff;
}
.synopsis-btm-y div:nth-child(6) > span:last-child {
   font-size: 14px;
   color: #999999;
 }
 .synopsis-btm-y div:nth-child(6) > span:last-child s{
    color: #ff5a00;
  }


/* 底部区域 */

footer {
    margin-top: 1000px;
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 1px solid #313131;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}