/* 顶部导航 */
.top_nav {
    height: 35px;
    background-color: #f5f5f5;
    padding: 9px 0 13px 0;
}

.top_nav-l {
    float: left;
}

.top_nav-l>i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background: url(../img/sprite_1.png) -192px -180px;
    vertical-align: middle;
    margin-right: 10px;
}

.top_nav-y {
    float: right;
}

.top_nav-y ul li {
    float: left;
    position: relative;
}

.top_nav-y ul li:nth-child(2):after,
.top_nav-y ul li:nth-child(3):after,
.top_nav-y ul li:nth-child(4):after,
.top_nav-y ul li:nth-child(5):after,
.top_nav-y ul li:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0;
    left: 90px;
    width: 1px;
    height: 12px;
    background-color: #dcdcdc;
}

.top_nav-y ul li:nth-child(2):after {
    left: 54px;
}

.top_nav-y ul li:nth-child(3):after {
    left: 100px;
}

.top_nav-y ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #999999;
}

.top_nav-y ul li:last-child a {
    color: #ff5a00;
}

.top_nav-y ul li:last-child span:nth-child(3) {
    border-bottom: 1px solid #ff5a00;
    padding-bottom: 3px;
}

.top_nav-y ul li:nth-child(3) i,
.top_nav-y ul li:nth-child(4) i,
.top_nav-y ul li:nth-child(5) i,
.top_nav-y ul li:nth-child(6) i,
.top_nav-y ul li:nth-child(7) i:last-child {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../img/sprite_1.png) -191px -234px;
    margin-left: 4px;
}

/* 搜素区域 */
.search {
    height: 80px;
    padding: 16px 0;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
}

.search-l {
    float: left;
}

.search-l>i {
    display: inline-block;
    width: 126px;
    height: 46px;
    background: url(../img/sprite_1.png) 0 -262px;
}

.search-l>img {
    width: 136px;
    height: 46px;
    margin-left: 18px;
}

.search-cen {
    float: left;
    height: 46px;
    line-height: 46px;
    margin-left: 88px;
    margin-top: 2px;
}

.search-cen li {
    float: left;
}

.search-cen li a {
    position: relative;
    display: inline-block;
    margin-right: 44px;
    font-size: 16px;
}

.search-cen li:first-child a {
    margin-right: 60px;
    color: #0cb46a;
    border-bottom: 3px solid #0cb46a;
}

.search-cen li:nth-child(5) a {
    margin-right: 54px;
}

.search-cen li:nth-child(2) i,
.search-cen li:nth-child(3) i,
.search-cen li:nth-child(4) i,
.search-cen li:nth-child(6) i {
    position: absolute;
    top: 22px;
    right: -22px;
    width: 9px;
    height: 5px;
    background: url(../img/sprite_1.png) -152px -181px;
}

.search-cen li:nth-child(7) i {
    position: absolute;
    top: 14px;
    right: -28px;
    width: 13px;
    height: 18px;
    background: url(../img/sprite_1.png) -177px -181px;
}

.search-y {
    float: right;
    position: relative;
    margin-right: 15px;
}

.search-y>input {
    margin-top: 8px;
    width: 256px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
}

.search-y>i {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 22px;
    height: 22px;
    background: url(../img/sprite_1.png) -206px -220px;
}

.top_nav-y ul li:nth-child(7) i:first-child {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/sprite_1.png) -188px -246px;
    vertical-align: middle;
    margin-right: 6px;
}

/* 主体 */
.container-btm {
    padding-top: 20px;
    width: 1222px;
    margin: 0 auto;
}

main {
    float: left;
    width: 960px;
}

/* 选项卡 */
.option {
    border: 1px solid #eaeaea;
}

.option li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}

.option li:nth-child(1) {
    border-bottom: 1px dashed #eaeaea;
}

.option-l {
    float: left;
    width: 80px;
    background-color: #f8f8f8;
    text-align: center;
    color: #999999;
    border-right: 1px solid #eaeaea;
    opacity: 0.7;
}

.option-y {
    float: left;
    padding-left: 30px;
}

.option-y>span {
    display: inline-block;
    width: auto;
    margin-right: 30px;
}

/* 默认排序 */
.rank {
    margin: 20px 0 40px;
    height: 40px;
    line-height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    font-size: 14px;
    color: #666666;
}

.rank span {
    display: inline-block;
}

.rank span:nth-child(1) {
    margin-right: 450px;
    width: 100px;
    text-align: center;
    color: #ff7d35;
    border-right: 1px solid #eaeaea;
    opacity: 0.7;
}

.rank span:nth-last-child(-n+4) {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin-right: 38px;
}

.rank span:nth-last-child(-n+4)::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: -26px;
    border: 1px solid #cccccc;
    opacity: 0.7;
    border-radius: 4px;
}

/* 公司 */
.company-cont,
.company-cont-te {
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px dashed #e3e3e3;
}

.company-l {
    margin-bottom: 20px;
    padding: 10px;
    float: left;
    width: 118px;
    height: 118px;
    border: 1px solid #e5e5e5;
}

.company-l>img {
    width: 100%;
    height: 100%;
}

.company-c {
    float: left;
    width: 686px;
    margin-left: 13px;
}

.company-title {
    width: 100%;
}

.company-title h3 {
    float: left;
    font-size: 20px;
    color: #333333;
}

.company-title img {
    margin: 0 10px;
    float: left;
    width: 26px;
    height: 26px;
}

.company-title span {
    float: left;
    width: 92px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #fff5ef;
    color: #ff7d35;
}

.company-cen p {
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #666666;
}

.company-y {
    float: right;
}

.company-y>img {
    vertical-align: middle;
    width: 92px;
    height: 16px;
}

.company-y>s {
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    font-size: 16px;
    color: #ff7d70;
}

.company-cont-te .company-c .company-title span,
.company-cont-te .company-btm>span {
    display: inline-block;
    margin-left: 20px;
    padding: 0 11px;
    width: auto;
    height: 26px;
    line-height: 26px;
    background-color: #fff5ef;
}

.company-cont-te .company-btm>span {
    margin-left: 0;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #d1e5fd;
    color: #66aaf9;
}

.company-cont-te .company-btm>span:nth-child(2) {
    border: 1px solid #ffd8c2;
    color: #ff7d35;
}

.company-cont-te .company-btm>span:nth-child(3) {
    border: 1px solid #bdeed8;
    color: #24c77e;
}
/* 分页导航 */
.page {
    width: 358px;
    margin: 40px auto 140px;
    border: 1px solid #eeeeee;
}
.page li {
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-right: 1px solid #eeeeee;
}
.page li a {
    display: block;
    color: #999999;
}
.page li:last-child {
    width: 90px;
    border-right: none;
}
.page li:first-child {
   background-color: #01af63;
}
.page li:first-child a{
    color: #fff;
 }


/* 侧边栏 */
aside {
    float: right;
    width: 238px;
}

aside>img {
    width: 100%;
    height: 186px;
}

.aside-btm {
    margin-top: 20px;
    width: 100%;
    height: 304px;
    border: 1px solid #eaeaea;
}

.aside-btm>img {
    width: 100%;
    height: 100%;
}

/* 底部区域 */
footer {
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 1px solid #313131;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}