.video-l .player {
  position: relative;
  width: 966px;
  height: 543px;
  box-shadow: 0 0 1px #000;
}

.video-l video::-webkit-media-controls-enclosure {
  /*禁用播放器控制栏的样式*/
  display: none !important;
}

/* 控制栏 */
.video-l .controls {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 32px;
  background-color: rgba(255,255,255,0.5);
  padding-left: 46px;
  padding-right: 190px;
  z-index:  2147483647;
}

.video-l .control>a {
  height: 0;
}

.video-l .controls .play-btn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  line-height: 32px;
  margin-left: 10px;
}

.video-l .controls .progress {
  width: 100%;
  height: 14px;
  /* calc() 里面可以计算四则运算 */
  margin-top: calc((32px - 14px) / 2);
  box-shadow: 0 0 1px #000;
  border-radius: 7px;
  overflow: hidden;


}

.video-l .controls .progress .progress-bar {
  width: 0%;
  height: 100%;
  background-color: #ccc;
}



.video-l .controls .fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  line-height: 32px;
  margin-right: 10px;
}

.video-l .controls .time {
  position: absolute;
  top: 0;
  right: 44px;
  font-size: 14px;
  line-height: 32px;
  margin-right: 10px;
}