/* 顶部导航 */
.top_nav {
    height: 35px;
    background-color: #f5f5f5;
    padding: 9px 0 13px 0;
}

.top_nav-l {
    float: left;
}

.top_nav-l>i {
    display: inline-block;
    width: 12px;
    height: 16px;
    background: url(../img/sprite_1.png) -192px -180px;
    vertical-align: middle;
    margin-right: 10px;
}

.top_nav-y {
    float: right;
}

.top_nav-y ul li {
    float: left;
    position: relative;
}

.top_nav-y ul li:nth-child(2):after,
.top_nav-y ul li:nth-child(3):after,
.top_nav-y ul li:nth-child(4):after,
.top_nav-y ul li:nth-child(5):after,
.top_nav-y ul li:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0;
    left: 90px;
    width: 1px;
    height: 12px;
    background-color: #dcdcdc;
}

.top_nav-y ul li:nth-child(2):after {
    left: 54px;
}

.top_nav-y ul li:nth-child(3):after {
    left: 100px;
}

.top_nav-y ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #999999;
}

.top_nav-y ul li:last-child a {
    color: #ff5a00;
}

.top_nav-y ul li:last-child span:nth-child(3) {
    border-bottom: 1px solid #ff5a00;
    padding-bottom: 3px;
}

.top_nav-y ul li:nth-child(3) i,
.top_nav-y ul li:nth-child(4) i,
.top_nav-y ul li:nth-child(5) i,
.top_nav-y ul li:nth-child(6) i,
.top_nav-y ul li:nth-child(7) i:last-child {
    display: inline-block;
    width: 8px;
    height: 5px;
    background: url(../img/sprite_1.png) -191px -234px;
    margin-left: 4px;
}

/* 搜素区域 */
.search {
    height: 80px;
    padding: 16px 0;
    border-bottom: 1px solid #e3e3e3;
}

.search-l {
    float: left;
}

.search-l>i {
    display: inline-block;
    width: 126px;
    height: 46px;
    background: url(../img/sprite_1.png) 0 -262px;
}

.search-l>img {
    width: 136px;
    height: 46px;
    margin-left: 18px;
}

.search-cen {
    float: left;
    height: 46px;
    line-height: 46px;
    margin-left: 88px;
    margin-top: 2px;
}

.search-cen li {
    float: left;
}

.search-cen li a {
    position: relative;
    display: inline-block;
    margin-right: 44px;
    font-size: 16px;
}

.search-cen li:first-child a {
    margin-right: 60px;
    color: #0cb46a;
    border-bottom: 3px solid #0cb46a;
}

.search-cen li:nth-child(5) a {
    margin-right: 54px;
}

.search-cen li:nth-child(2) i,
.search-cen li:nth-child(3) i,
.search-cen li:nth-child(4) i,
.search-cen li:nth-child(6) i {
    position: absolute;
    top: 22px;
    right: -22px;
    width: 9px;
    height: 5px;
    background: url(../img/sprite_1.png) -152px -181px;
}

.search-cen li:nth-child(7) i {
    position: absolute;
    top: 14px;
    right: -28px;
    width: 13px;
    height: 18px;
    background: url(../img/sprite_1.png) -177px -181px;
}

.search-y {
    float: right;
    position: relative;
    margin-right: 15px;
}

.search-y>input {
    margin-top: 8px;
    width: 256px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
}

.search-y>i {
    position: absolute;
    top: 15px;
    right: 10px;
    width: 22px;
    height: 22px;
    background: url(../img/sprite_1.png) -206px -220px;
}

.top_nav-y ul li:nth-child(7) i:first-child {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../img/sprite_1.png) -188px -246px;
    vertical-align: middle;
    margin-right: 6px;
}

/* 搜素区域效果 */
.search-cen-x {
    width: 100%;
    height: 150px;
    position: relative;
}

.search-cen-x li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 37px 0 41px 268px;
    z-index: 3;
    background-color: #fff;
}

.search-cen-x li>div {
    float: left;
    padding: 0 20px;
    font-size: 14px;
    font-weight: normal;
    border-right: 1px dashed #d8d8d8;
}

.search-cen-x li>div:last-child {
    border-right: none;
}

.search-cen-x li>div:last-child a {
    display: inline-block;
    margin-right: 50px;
}

.search-cen-x li>div:last-child a:nth-child(1)>i,
.search-cen-x li>div:last-child a:nth-child(2)>i,
.search-cen-x li>div:last-child a:nth-child(3)>i {
    display: block;
    width: 32px;
    height: 32px;
    margin: 20px 10px 10px;
    background: url(../img/sprite_1.png) -80px -37px;
}

.search-cen-x li>div:last-child a:nth-child(2)>i {
    width: 36px;
    background: url(../img/sprite_1.png) -113px -144px;
}

.search-cen-x li>div:last-child a:nth-child(3)>i {
    width: 30px;
    height: 34px;
    background: url(../img/sprite_1.png) -48px 0;
}

.search-cen-x li:nth-child(3)>div:last-child a:nth-child(1)>i {
    width: 31px;
    height: 33px;
    background: url(../img/sprite_1.png) -196px -108px;
}

.search-cen-x li:nth-child(3)>div:last-child a:nth-child(1)>span {
    margin-left: -10px;
}

.search-cen-x li:nth-child(3)>div:last-child a:nth-child(2)>i {
    width: 34px;
    height: 34px;
    background: url(../img/sprite_1.png) -114px 0;
}

.search-cen-x li:nth-child(3)>div:last-child a:nth-child(3)>i {
    width: 34px;
    height: 32px;
    background: url(../img/sprite_1.png) -36px -144px;
}

#search-t a>i {
    display: block;
    width: 36px;
    height: 36px;
    margin: 20px 10px 10px;
    background: url(../img/sprite_1.png) -178px -324px;
}

#search-t a:nth-child(2)>i {
    width: 28px;
    height: 32px;
    background: url(../img/sprite_1.png) -39px -108px;
}

#search-t a:nth-child(3)>i {
    width: 32px;
    height: 32px;
    background: url(../img/sprite_1.png) -152px 0;
}

#search-t a:nth-child(4)>i {
    width: 32px;
    height: 32px;
    background: url(../img/sprite_1.png) -72px -108px;
}

#search-t a:nth-child(5)>i {
    width: 42px;
    height: 34px;
    background: url(../img/sprite_1.png) -148px -70px;
}

#search-t a:nth-child(6)>i {
    height: 38px;
    background: url(../img/sprite_1.png) -150px -220px;
}

#search-t a:nth-child(7)>i {
    background: url(../img/sprite_1.png) -108px -108px;
}

#search-t a:nth-child(8)>i {
    height: 34px;
    background: url(../img/sprite_1.png) -188px -36px;
}

#search-t a:nth-child(9)>i {
    width: 34px;
    height: 32px;
    background: url(../img/sprite_1.png) -188px -144px;
}

.search-cen-x li:nth-last-child(1) {
    padding: 0;
    position: relative;
    background-color: transparent;
}

.search-cen-x li:nth-last-child(1) img {
    position: absolute;
    top: 0;
    right: 560px;
    width: 390px;
    height: 212px;
}

.search-cen-x-btm {
    margin-top: 20px;
}

.search-cen-x li>div>h3>i {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 9px;
    height: 14px;
    background: url(../img/sprite_1.png) -195px -200px;
}

.search-cen-x-btm>a {
    display: inline-block;
    padding-right: 20px;
    margin-right: 7px;
    line-height: 2;
    color: #808080;
}

.search-cen-x li {
    /* 选项卡隐藏 */
    display: none;
}

.search-cen-x li:nth-child(1)>div:last-child a:nth-child(1)>span,
.search-cen-x li:nth-child(3)>div:last-child a:nth-child(2)>span,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(1)>span,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(2)>span,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(3)>span {
    position: relative;
}

.search-cen-x li:nth-child(1)>div:last-child a:nth-child(1)>span::after,
.search-cen-x li:nth-child(3)>div:last-child a:nth-child(2)>span::after,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(1)>span::after,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(2)>span::after,
.search-cen-x li:nth-child(4)>div:last-child a:nth-child(3)>span::after {
    content: '';
    position: absolute;
    top: -42px;
    right: -28px;
    width: 35px;
    height: 16px;
    background: url(../img/sprite_1.png) 0 -186px;
}

.search-cen-x li:nth-child(3)>div:last-child a:nth-child(2)>span::after {
    width: 34px;
    background: url(../img/sprite_1.png) -40px -186px;
}

.search-cen-x li:nth-child(4)>div:last-child a:nth-child(1)>span::after {
    background: url(../img/sprite_1.png) -128px -330px;
}

.search-cen-x li:nth-child(4)>div:last-child a:nth-child(2)>span::after {
    background: url(../img/sprite_1.png) -80px -186px;
}

.search-cen-x li:nth-child(4)>div:last-child a:nth-child(3)>span::after {
    width: 32px;
    background: url(../img/sprite_1.png) -426px -192px;
}

/* 轮播图 */
.slider {
    width: 100%;
    height: 460px;
    position: relative;
    top: -150px;
}

.slider li {
    position: absolute;
    display: none;
}

.slider li img {
    width: 100%;
    height: 460px;
}

.slider li:first-child {
    display: block;
}

.arrow {
    display: none;
}

.slider:hover .arrow {
    display: block;
}

.arrow-left,
.arrow-right {
    font-family: "SimSun", "宋体";
    width: 40px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: rgba(0, 0, 0, .5);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.control {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -200px;
}

.control a {
    float: left;
    width: 32px;
    height: 2px;
    background-color: #67cdb9;
    box-shadow: 1px 1px 5px #666;
}

.control a+a {
    margin-left: 15px;
}

.control a.active {
    background-color: #fff;
}

/* 业务 */
.business {
    padding: 20px 0;
    height: 180px;
    background-color: #f5f5f5;
    margin-top: -150px;
}

.business li {
    float: left;
    margin-right: 15px;
}

.business li a {
    display: block;
}

.business ul>li:last-child {
    margin-right: 0;
}

.business ul>li img {
    width: 276px;
    height: 140px;
}

.business li:hover {
    transition: all 0.5s;
    margin-top: -2px;
    box-shadow: 4px 8px 8px #cccccc;
}

/* 装修公司 */
.finish {
    height: 1010px;
}

.finish-tab-control {
    width: 200px;
    height: 35px;
    font-size: 14px;
    margin: 28px auto 70px;
    border: 1px solid #e8e8e8;
}

.finish-tab-control li {
    float: left;
    width: 50%;
    line-height: 35px;
    text-align: center;
}

.finish-tab-control li:first-child {
    border-right: 1px solid #e8e8e8;
}

.finish-tab-content-item>ul>li {
    float: left;
    margin-right: 20px;
}

.finish-tab-content-item>ul>li:hover {
    transition: all 0.5s;
    box-shadow: 0 15px 30px rgba(105, 100, 109, .3);
    transform: translate3d(0, -4px, 0);
}

.finish-tab-content-item>ul>li:hover img {
    transition: all 0.5s;
    transform: translate3d(0, -4px, 0);
}

.finish-tab-content-item>ul>li:nth-child(4),
.finish-tab-content-item>ul>li:nth-child(8) {
    margin-right: 0;
}

.finish-tab-content-item>ul>li:nth-child(-n+4) {
    margin-bottom: 20px;
}

.finish-xia {
    padding: 24px 0 0 20px;
    height: 140px;
    border: 1px solid #e8e8e8;
    border-top: none;
}

.finish-xia h3 {
    height: 20px;
    font-size: 20px;
    margin-bottom: 22px;
    position: relative;
}

.h-d::before,
.h-d::after {
    content: '礼';
    position: absolute;
    top: 2px;
    right: 166px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background-color: #ff952b;
}

.h-d::after {
    right: 134px;
    content: '券';
    background-color: #ff572a;
}

.finish-xia p span {
    font-size: 16px;
    color: #747474;
}

.finish-xia p span:first-child {
    margin-right: 24px;
}

.finish-tab-content-item>ul>li>a {
    display: inline-block;
    width: 348px;
    height: 378px;
}

.finish-tab-content-item li>a>img {
    width: 348px;
    height: 240px;
}

.rating>img {
    width: 76px;
    height: 14px;
    vertical-align: middle;
    margin-right: 8px;
}

.finish-b>a {
    margin: 60px auto 20px;
    display: block;
    width: 178px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    color: #ff5a02;
}

.finish-2 {
    position: absolute;
    top: 267px;
}

.finish-tab-control li.active {
    color: #24c77e;
}

.finish-tab-content .finish-tab-content-item {
    display: none;
}

.finish-tab-content .finish-tab-content-item.active {
    display: block;
}

/* 装修日记 */
.diary-tab-content .diary-tab-content-item {
    display: none;
}

.diary-tab-content .diary-tab-content-item.active {
    display: block;
}

.diary {
    height: 600px;
    background-color: #cccccc;
}

.diary-l {
    float: left;
    width: 1082px;
    height: 600px;
    background: transparent url(../img/diary_1.jpg) no-repeat;
    background-size: 1398px 600px;
    position: relative;
}

.diary-y {
    float: right;
    width: 821px;
    height: 600px;
    background: transparent url(../img/diary_2.jpg) no-repeat;
    padding: 75px 0 0 85px;
    color: #fff;
    font-size: 20px;
}

.diary-y>h3 {
    font-size: 32px;
}

.diary-y>p {
    margin-top: 28px;
    line-height: 34px;
}

.diary-y>ul {
    width: 418px;
    margin-top: 40px;
}

.diary-y>ul>li {
    float: left;
    width: 82px;
    height: 82px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 2px solid #848485;
    border-radius: 50%;
    overflow: hidden;
}

.diary-y>ul>li:nth-child(4n) {
    margin-right: 0;
}

.diary-y>ul>li img {
    width: 82px;
    height: 82px;
}

.diary-y>ul>li:hover {
    border-color: #0cb46a;
}

.diary-l-x {
    position: absolute;
    top: 75px;
    left: 200px;
    padding: 35px 0 52px 60px;
    width: 720px;
    height: 450px;
    background-color: #fff;
}

/* 流程服务 */
.process img {
    margin: 80px 0;
}

.diary-l-x>img {
    width: 602px;
    height: 366px;
}

/* 装修效果 */
.rendering {
    height: 1200px;
    /* background-color: #ccc; */
}

.rendering-cont-cen {
    margin-top: 28px;
    text-align: center;
}

.rendering-cont-cen>h3 {
    height: 78px;
    font-size: 20px;
    color: #999999;
    font-weight: normal;
}

.rendering-cont-cen>a {
    position: relative;
    width: 96px;
    height: 18px;
    font-size: 18px;
    margin-right: 23px;
}

.rendering-cont-cen>a::after {
    position: absolute;
    content: '/';
    top: 2px;
    right: -16px;
    font-size: 16px;
    color: #cec5c3;
}

.rendering-btm {
    margin-top: 60px;
    height: 880px;
    background-color: #f5f5f5;
}

.rendering-btm-left {
    float: left;
    width: 472px;
    margin-right: 18px;
}

.rendering-btm-cen {
    float: left;
    width: 686px;
}

.rendering-btm-right {
    float: right;
    width: 708px;
}

.rendering-btm img {
    width: 100%;
    margin-bottom: 18px;
}

.rendering-btm-left img:first-child {
    height: 474px;
}

.rendering-btm-cen img:first-child {
    height: 328px;
}

.rendering-btm-right img:first-child {
    height: 454px;
}

.rendering-btm-left img:last-child {
    height: 310px;
}

.rendering-btm-cen img:last-child {
    height: 456px;
}

.rendering-btm-right img:last-child {
    height: 328px;
}

/* 底部区域 */

footer {
    margin-top: 1000px;
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 2px solid #009635;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}

/* 看攻略 */
.strategy {
    height: 876px;
}

.strategy-cont {
    margin-top: 30px;
    height: 744px;
}

.strategy-cont>h3 {
    text-align: center;
    height: 116px;
    font-size: 18px;
    font-weight: normal;
    color: #999;
}

.strategy-cont-btm {
    margin: 0 auto 110px;
    height: 490px;
    border: 1px solid #e3e3e3;
}

.strategy-cont-btm li {
    float: left;
    width: 365px;
    border-right: 1px solid #e3e3e3;
}
.strategy-cont-btm li:last-child {
    border-right: none;
}

.strategy-cont-btm li a {
    display: inline-block;
    height: 490px;
}

.strategy-cont-btm li a>span {
    display: block;
    width: 364px;
    height: 169px;
    text-align: center;
    background-color: #f6f6f6;
    position: relative;
    font-size: 24px;
    padding-top: 126px;
}
.strategy-cont-btm li:last-child span {
    width: 367px;
}

.strategy-cont-btm li a>span i {
    position: absolute;
    top: 10px;
    right: 132px;
    width: 98px;
    height: 100px;
    background: url(../img/sprite_2.png) 0 0;
}

.strategy-cont-btm li:nth-child(2) a>span i {
    position: absolute;
    top: 10px;
    width: 102px;
    background: url(../img/sprite_2.png) 0 -224px;
}

.strategy-cont-btm li:nth-child(3) a>span i {
    position: absolute;
    top: 10px;
    width: 106px;
    background: url(../img/sprite_2.png) -114px -224px;
}

.strategy-cont-btm li:nth-child(4) a>span i {
    position: absolute;
    top: 10px;
    width: 106px;
    background: url(../img/sprite_2.png) -112px 0;
}

.strategy-cont-btm p {
    padding: 52px 0 0 52px;
}

.strategy-cont-btm p>s {
    display: block;
    line-height: 35px;
}

.strategy-cont-btm li:nth-child(3) p s:nth-last-child(2) {
    display: block;
    width: 300px;
    white-space: nowrap;
    /* 文本溢出出现省略号   clip不出现 */
    text-overflow: ellipsis;
    /* 溢出隐藏 */
    overflow: hidden;
}
/* .strategy-t {
    display: none;
} */
.strategy-cont-xiao {
    width: 100%;
    position: relative;
    top: -620px;
}
.strategy-cont-xiao >img:nth-child(1) {
    position: absolute;
    left: 180px;
}
.strategy-cont-xiao >img:nth-child(2) {
    position: absolute;
    left: 570px;
}
.strategy-cont-xiao >img:nth-child(3) {
    position: absolute;
    left: 930px;
}
.strategy-cont-xiao >img:nth-child(4) {
    position: absolute;
    left: 1280px;
}