/* 顶部导航 */
.top_nav {
    height: 35px;
    background-color: #f5f5f5;
    padding: 9px 0 13px 0;
}

.top_nav-l {
    float: left;
}

.top_nav-y {
    float: right;
}

.top_nav-y ul li {
    float: left;
    position: relative;
}

.top_nav-y ul li:nth-child(2):after,
.top_nav-y ul li:nth-child(3):after,
.top_nav-y ul li:nth-child(4):after,
.top_nav-y ul li:nth-child(5):after,
.top_nav-y ul li:nth-child(6):after {
    content: '';
    position: absolute;
    top: 0;
    left: 76px;
    width: 1px;
    height: 12px;
    background-color: #dcdcdc;
}
.top_nav-y ul li:nth-child(2):after {
    left: 54px;
}
.top_nav-y ul li:nth-child(3):after {
    left: 90px;
}

.top_nav-y ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #999999;
}
.top_nav-y ul li:last-child a {
    color: #ff5a00;
}
.top_nav-y ul li:last-child span:nth-child(3){
    border-bottom: 1px solid #ff5a00;
    padding-bottom: 3px;
}

/* 底部区域 */

footer {
    margin-top: 1000px;
    height: 202px;
    background-color: #1f1f1f;
    font-size: 14px;
    padding: 22px 230px 0 234px;
    border-top: 2px solid #009635;
}

.di-l {
    float: left;
    color: #676b6c;
    vertical-align: top;
}

.di-l ul li {
    float: left;
}

.di-l ul li a {
    display: inline-block;
    margin-right: 16px;
    color: #fff;
}

.di-l h4 {
    height: 76px;
    line-height: 76px;
    color: #676b6c;
}

.di-l a {
    color: #676b6c;
}

.di-l a img {
    vertical-align: bottom;
}

.di-l a:nth-last-child(2) img {
    margin: 0 10px;
}

.di-l span:nth-last-child(4) a {
    margin-left: 25px;
}

.di-l a:last-child img {
    position: relative;
    top: 4px;
}

footer .di-y:nth-last-child(2) {
    float: left;
}

footer .di-y:nth-last-child(1) {
    float: right;
}

footer .di-y {
    width: 102px;
    height: 102px;
    text-align: center;
    color: #fff;
}

footer .di-y h3 {
    font-weight: normal;
}

.di-y img {
    width: 102px;
    height: 102px;
    margin-bottom: 10px;
}

.di-y:nth-last-child(2) {
    margin-left: 230px;
}